body, html {
  height: 100%;
  margin: 0;
}


#bg {
  position: fixed;
  top: 0;
  left: 0;
  /* Preserve aspet ratio */
  min-width: 90%;
  min-height: 80%;
}

.randomKidOne {
  position: absolute;
  top: 18%;
  left: 10%;
}

.randomKidTwo {
  position: absolute;
  top: 18%;
  right: 10%;
}

.randomKidThree {
  position: absolute;
  left: 45%;
  bottom: 0%;
}

.logo {
  position: absolute;
  left: 38%;
  top: 25%;
}

.playButton{
  position: absolute;
  left: 43%;
  top: 45%;
}

.rainbow {
  position: absolute;
  top: 8%;
  left: 5%;
}

#play {
  border: none;
  width: 300px;
  height: 120px;
  background: transparent url('./images/play_button.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-color:'none';
  cursor: pointer;
}

/* Fonts */

@font-face {
  font-family: boldFont;
  src: url('./fonts/bold.ttf');
}

@font-face {
  font-family: emptyFont;
  src: url('./fonts/empty.ttf');
}

.inComplete {
  font-family: emptyFont;
  color: orange;
  font-size: 100px;
}

.completed {
  font-family: boldFont;
  color: orange;
  font-size: 100px;
}


.container {
  position: fixed;
  top: 20%;
  left: 45%;
  margin-top: -50px;
  margin-left: -100px;
}


